<div class="container">
    <h2>Comments for {{postTitle}}</h2>
    {{#if comments}}
    <ul class="comment-list">
        {{#each comments}}
        <li>
            <p>{{comment}}</p>
            <p class="comment-user">Posted by {{username}} on {{createdAt}}</p>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No comments available.</p>
    {{/if}}
</div>

</html>